{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <h1 class="text-center text-white">Simulation Tools</h1>
            </div>
        </div>
    </div>

{% endblock %}
